[commit]
	gpgsign = true
[gpg]
	format = ssh
	#sign = true
[gpg "ssh"]
	allowedSignersFile = /c/rucyw/.ssh/allowed_signers
[init]
	defaultBranch = main
[user]
	email = 30755568+farewell1999@users.noreply.github.com
	name = WY
	signingkey = C:/Users/rucyw/.ssh/id_ed25519_github_personal
