[alias]
	lg = log --graph --oneline
	st = status -bs
[commit]
	gpgsign = true
[core]
	pager  = delta
	editor = vim
	#autocrlf = 
	#excludesfile = 
[delta]
	side-by-side = true
	navigate     = true
	line-numbers = true
	light        = false
	pager        = cat
[gpg]
	format = ssh
	#sign = true
[gpg "ssh"]
	allowedSignersFile = /c/rucyw/.ssh/allowed_signers
[init]
	defaultBranch = main
[interactive]
	diffFilter = delta --color-only
[user]
	email = 30755568+farewell1999@users.noreply.github.com
	name = WY
	signingkey = C:/Users/rucyw/.ssh/id_ed25519_github_personal
